input{
    padding-left: 1.9rem;
}

input::placeholder{
    font-size: .8rem;
    /* padding-left: 1.5rem; */
}

.lock, .envelope{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lock fa-icon, .envelope fa-icon{
    position: absolute;
    left: 23.5rem;
    /* color: #1825AA;
    font-size: 1.2rem;
    margin-right: 1rem; */
}