<div class="fondo d-flex justify-content-center  align-items-center ">
  <form [formGroup]="solicitudesForm" class="row container w-75 h-auto border border rounded-5  p-4 form mt-5 ite">
    <h2>Reserva de Espacios</h2>
    <hr>
    <div class="col-md-6 mt-1 row">
      <label for="laboratorioSelect" class="form-label">Laboratorio</label>
      <div class="location">
        <fa-icon [icon]="fahouse"></fa-icon>

        @if (laboratorios.length > 0) {
        <select id="laboratorioSelect" class="form-select" aria-label="Seleccionar laboratorio"
          formControlName="laboratorioId">
          <option value="" disabled selected>Seleccione un laboratorio</option>
          @for (lab of laboratorios; track lab.id) {
          <option [value]="lab.id">{{ lab.codigoDeLab }}</option>
          }
        </select>
        } @else {
        <select class="form-select" disabled>
          <option>Cargando laboratorios...</option>
        </select>
        }
      </div>
    </div>
    <div class="col-md-6 mt-1 row">
      <label for="inputEmail4" class="form-label">Hora de Inicio</label>
      <div class="location">
        <fa-icon [icon]="faclock"></fa-icon>
        <input type="datetime-local" formControlName="direccion" class="form-control" id="inputEmail4"
          placeholder="Laboratorio" />
      </div>
    </div>
    <div class="col-md-6 mt-1 row">
      <label for="inputEmail4" class="form-label">Hora de Finalizacion</label>
      <div class="location">
        <fa-icon [icon]="faclock"></fa-icon>
        <input type="datetime-local" formControlName="direccion" class="form-control" id="inputEmail4"
          placeholder="Laboratorio" />
      </div>
    </div>
    <div class="col-md-6 mt-1 row">
      <label for="inputEmail4" class="form-label">Lista de espera</label>
      <div class="location">
        <fa-icon [icon]="estado"></fa-icon>
        <select class="form-select " aria-label="Default select example">
          <option selected></option>
          <option value="1">Espera</option>
          <option value="2">Aprobado</option>
          <option value="3">Desaprobado</option>
        </select>
      </div>
    </div>


    <!--Comentarios -->
    <div class="col-md-6 mt-1 row">
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Motivo</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <div class="col-md-6 mt-1 row">
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Comentario de aprobacion</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>

    <button class="btn btn-success" (click)="enviarSolicitud()">Enviar Solicitud</button>

  </form>
</div>