.btn {
    background-color: #1825AA;
    color: white;
    width: 96%;
    margin-bottom: 3rem;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
}

.btn:hover {
    background-color: #101A88;
}

.white-spinner ::ng-deep circle {
    stroke: white !important;
}

.location,
.phone,
.user,
.envelope {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.location fa-icon,
.phone fa-icon,
.user fa-icon,
.envelope fa-icon {
    position: absolute;
    left: 1.2rem;

}

.form {

    border: none;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
}

.ocultar {
    display: none;
}

label {
    font-size: .9rem;
}

input::placeholder {
    font-size: .8rem;
}

input {
    font-size: 1rem;
}

input {
    padding-left: 1.9rem;
}

select,
option {
    padding-left: 1.9rem;
}

.hora-error {
    color: red;
    font-size: 10px;
    padding-left: 10px;
    transition: 1s ease-in-out all;
    width: 200px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .location {
        flex-direction: row;
        align-items: center;
    }

    .location input {
        flex: 1;
        padding-left: 30px;
    }

    .hora-error {
        width: auto;
        margin-left: 10px;
    }

    .location fa-icon,
    .phone fa-icon,
    .user fa-icon,
    .envelope fa-icon {
        top: 8px;
    }
}

/* Para móviles */
@media (max-width: 767px) {
    .location {
        flex-direction: column;
    }

    .location input {
        width: 100%;
    }

    .hora-error {
        font-size: 11px;
        width: 100%;
    }

    .location fa-icon,
    .phone fa-icon,
    .user fa-icon,
    .envelope fa-icon {
        top: 8px;
    }
}