<div class="fondo d-flex justify-content-center align-items-center">
    <form [formGroup]="registroForm" class="row g-3 container w-50 border border rounded-5 bg-white p-4 form">
        <div class="text-center mt-1">
            <h1>Vamos a <strong>Empezar!</strong></h1>
            <p>Crea tu cuenta.</p>
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Nombres</label>
            <input type="text" formControlName="nombre" class="form-control" id="inputEmail4" placeholder="Nombre" />
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Apellidos</label>
            <input type="text" formControlName="apellido" class="form-control" id="inputEmail4" placeholder="Apellidos" />
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Matricula</label>
            <input type="text" formControlName="matricula" class="form-control" id="inputEmail4" placeholder="Matricula" />
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email"  formControlName="email" class="form-control" id="inputEmail4" placeholder="ejemplo@ipl.edu.do" />
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Telefono</label>
            <input type="tel" formControlName="telefono" class="form-control" id="inputEmail4" placeholder="Telefono" />
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Direccion</label>
            <input type="text" formControlName="direccion" class="form-control" id="inputEmail4" placeholder="Direccion" />
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Contraseña</label>
            <input type="password" formControlName="contrasena" class="form-control" id="inputPassword4" placeholder="******" />
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Confirme su Contraseña</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Contraseña" />
        </div>
        <div class="col-12 text-center">
            <button (click)="register()" class="btn btn-custom-blue mb-5 mt-3">
                Crear Cuenta
            </button>
        </div>
    </form>
</div>