.iconos{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.5rem 6.5rem;
    gap: 10.3rem;
}

.componente{
    overflow: auto;
}

.add-btn{
    border: none;
    background-color: transparent;
    margin-left: 15rem;
}