<div class="analitica-container">
  <!-- TEMPERATURA -->
  <ngx-gauge
    [type]="gaugeType"
    [value]="temp()"
    label="Temperatura"
    append="°C"
    [cap]="gaugeCap"
    [thick]="gaugeThick"
  ></ngx-gauge>

  <!-- HUMEDAD -->
  <ngx-gauge
    [type]="gaugeType"
    [value]="hum()"
    label="Humedad"
    append="%"
    [cap]="gaugeCap"
    [thick]="gaugeThick"
  ></ngx-gauge>

  <!-- LUZ -->
  <ngx-gauge
    [type]="gaugeType"
    [value]="luz()"
    label="Luz"
    append="%"
    [min]="0"
    [max]="4095"
    [cap]="gaugeCap"
    [thick]="gaugeThick"
  ></ngx-gauge>

  <!-- SONIDO -->
  <ngx-gauge
    [type]="gaugeType"
    [value]="sonido()"
    label="Sonido"
    append="dB"
    [min]="0"
    [max]="4095"
    [cap]="gaugeCap"
    [thick]="gaugeThick"
  ></ngx-gauge>
</div>
