<nav class="navbar navbar-expand-lg  navbar-light bg-light">
  <div class="container-fluid">
  
    <!-- Menú desplegable de usuario -->
    <ul class="navbar-nav ms-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/Imagenes/loyola.jpeg" alt="Usuario" width="40" height="40" class="rounded-circle me-2">
          
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
          <li><a class="dropdown-item">Configuración</a></li>
          <li><a class="dropdown-item" routerLink="/login">Salir</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>