<div class="container">
    <div class="header-section">
        <h1>Subir Archivos</h1>
        <p>Carga el archivo que deseas subir.</p>
        <p>Solo se permite archivos con extención .xls, .xlsx y .csv</p>
    </div>
    <div class="drop-section" dropzone (dragover)="dragover($event)" (dragleave)="dragleave($event)" (drop)="drop($event)">
        <div class="col-drop">
            <div class="cloud-icon">
                <img src="assets/icons/cloud.png" alt="cloud">
                <span>Arrastra y suelta tus archivos aquí</span>
                <span>O</span>
                <button class="file-selector" (click)="selectFile()">Busca</button>
                <input type="file" class="file-selector-input" accept=".xls,.xlsx,.csv">
            </div>
        </div>
        <div class="col-drop">
            <div class="drop-here">Suelta Aquí</div>
        </div>
    </div>
    <!-- <div class="list-section">
        <div class="list-title">Archivos subidos</div>
        <div class="list"></div>
    </div> -->
</div>