.formulario {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  height: auto;
}

.total {
  width: 100%;
  margin-bottom: 1rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
