<mat-dialog-content>
  <form class="formulario">
    <mat-form-field class="total">
      <mat-label>Estado</mat-label>
      <mat-select [formControl]="estadoId">
        @for (timeline of timelines; track timeline.id) {
        <mat-option [value]="timeline.id">{{ timeline.nombre }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="total">
      <mat-label>Evento</mat-label>
      <textarea
        matInput
        #message
        maxlength="256"
        placeholder="Cuenta lo que pasa con la Orden, Ej. La orden presenta..."
        [formControl]="evento"
      ></textarea>
      <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button type="button" (click)="onNoCancelar()">
    Cancelar
  </button>
  <button
    type="button"
    mat-raised-button
    (click)="onSiActualizar()"
    cdkFocusInitial
  >
    Ok
  </button>
</mat-dialog-actions>
