<div class="analitica-scroll">
  <div class="analitica-completa">
    <div class="analitica-container">
      <!-- TEMPERATURA -->
      <div class="gauge-with-icon">
        <fa-icon class="d-icon icon temp" [icon]="faTemp" size="sm"></fa-icon>
        <ngx-gauge
          [type]="gaugeType"
          [value]="temp()"
          append="°C"
          [cap]="gaugeCap"
          [thick]="gaugeThick"
          [foregroundColor]="gaugeColorTemp"
          [size]="120"
        >
        </ngx-gauge>
      </div>

      <!-- HUMEDAD -->
      <div class="gauge-with-icon">
        <fa-icon class="d-icon icon hum" [icon]="faHum" size="sm"></fa-icon>
        <ngx-gauge
          [type]="gaugeType"
          [value]="hum()"
          append="%"
          [cap]="gaugeCap"
          [thick]="gaugeThick"
          [foregroundColor]="gaugeColorHum"
          [size]="120"
        >
        </ngx-gauge>
      </div>

      <!-- LUZ -->
      <div class="gauge-with-icon">
        <fa-icon class="d-icon icon luz" [icon]="faLuz" size="sm"></fa-icon>
        <ngx-gauge
          [type]="gaugeType"
          [value]="luz()"
          append="%"
          [cap]="gaugeCap"
          [thick]="gaugeThick"
          [foregroundColor]="gaugeColorLuz"
          [size]="120"
        >
        </ngx-gauge>
      </div>

      <!-- SONIDO -->
      <div class="gauge-with-icon">
        <fa-icon class="d-icon icon sonido" [icon]="faSonido" size="sm"></fa-icon>
        <ngx-gauge
          [type]="gaugeType"
          [value]="sonido()"
          append="%"
          [cap]="gaugeCap"
          [thick]="gaugeThick"
          [size]="120"
        >
        </ngx-gauge>
      </div>
    </div>

    <div class="analitica-btn">
      <p>{{ lab }}</p>
      <div class="botones">
        <div class="boton">
          @if (actuador()) {
          <fa-icon
            class="icon"
            [icon]="faUnlock"
            size="lg"
            class="lock-open"
          ></fa-icon>
          <button
            mat-raised-button
            (click)="toggleActuador()"
            class="toggle-btn"
          >
            Cerrar
          </button>
          }@else {
          <fa-icon
            class="icon"
            [icon]="faLock"
            size="lg"
            class="lock-close"
          ></fa-icon>
          <button
            mat-raised-button
            (click)="toggleActuador()"
            class="toggle-btn"
          >
            Abrir
          </button>
          }
        </div>

        <div class="boton">
          <fa-icon class="icon" [icon]="faRestart" size="lg"></fa-icon>
          <button
            mat-raised-button
            (click)="toggleReiniciar()"
            class="toggle-btn"
          >
            Reiniciar
          </button>
        </div>
      </div>
    </div>

    <div class="delete-btn">
      <button
        mat-icon-button
        aria-label="Cerrar opciones"
        (click)="eliminarBoton()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <hr />
</div>
