
.location,.phone,.user,.envelope{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
 .location fa-icon,.phone fa-icon,.user fa-icon,.envelope fa-icon{
    position: absolute;
    left: 1.2rem;
  
}

.form {
    
    border: none;
    box-shadow: 25px 30px 54px -15px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 25px 30px 54px -15px rgba(0, 0, 0, 0.207);
    -moz-box-shadow: 25px 30px 54px -15px rgba(0, 0, 0, 0.75);
    margin-top: 1rem;
    height: 35rem;
}

label {
    font-size: .9rem;
}

input::placeholder {
    font-size: .8rem;
}

input{
    font-size: 1rem;
}

input{
    padding-left: 1.9rem;
}


/* --------------- prueba para la tabla ---------------*/


.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-container{
    position: relative;
    margin-top: 1.5rem;
}

.field{
    padding: 0px !important;
    background-color: #FAF9FD !important;
    margin: 0px 0px 2rem 0px;
}

.entrada-pagina{
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.entrada-pagina p{
    font-size: 0.8rem;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
}

.entrada-pagina input{
    margin-left: 0.5rem;
    border: 1px solid black;
    border-radius: 0.6rem;
    background-color: transparent;
    font-size: 0.9rem;
    inline-size: 3rem;
    text-align: center;
}

