<div class="fondo d-flex justify-content-center align-items-center ">
    <form action="" class="row container w-75 h-auto border border rounded-5  p-3 form mt-5 ite">
        <h2>Informacion General</h2>

        <hr>
        <div class="col-md-6 mt-1 row">           
            <label for="inputEmail4" class="form-label">Nombres</label>
            <div class="user">
                 <fa-icon [icon]="faUser"></fa-icon>
                <input type="text" formControlName="nombre" class="form-control" id="inputEmail4"
                    placeholder="Nombre" />
            </div>
        </div>
        <div class="col-md-6 mt-1 row">
            <label for="inputEmail4" class="form-label">Apellido</label>
            <div class="user">
                 <fa-icon [icon]="faUser"></fa-icon>
               <input type="text" formControlName="apellido" class="form-control" id="inputEmail4" placeholder="Apellidos" />
            </div>
        </div>
        <div class="col-md-6 mt-1 row">           
            <label for="inputEmail4" class="form-label">Matricula</label>
            <div class="user">
                <fa-icon [icon]="faUser"></fa-icon>
                <input type="text" formControlName="matricula" class="form-control" id="inputEmail4" placeholder="Matricula" />
            </div>
        </div>

        <div class="col-md-6 mt-1 row">           
            <label for="inputEmail4" class="form-label">Email</label>
            <div class="envelope">
                <fa-icon [icon]="faEnvelope"></fa-icon>
                <input type="email" formControlName="email" class="form-control" id="inputEmail4"
          placeholder="ejemplo@ipl.edu.do" />
            </div>
        </div>
        <div class="col-md-6 mt-1 row">
            <label for="inputEmail4" class="form-label">Telefono</label>
            <div class="phone">
                 <fa-icon [icon]="faPhone"></fa-icon>
                <input type="tel" formControlName="telefono" class="form-control" id="inputEmail4" placeholder="Telefono" />
            </div>
        </div>

        <div class="col-md-6 mt-1 row">
            <label for="inputEmail4" class="form-label">Direccion</label>
            <div class="location">
                <fa-icon [icon]="faLocationDot"></fa-icon>
                <input type="text" formControlName="direccion" class="form-control" id="inputEmail4" placeholder="Direccion" />
            </div>
        </div>
       <div class="col-md-6 mt-1 row">
        <label for="">Rol</label>
         <select class="form-select " aria-label="Default select example">
            <option selected>Rol</option>
            <option value="1">Estudiante</option>
            <option value="2">Administrador</option>
            <option value="3">Super Usuario</option>
        </select>
       </div>
        <div class="col-md-6 mt-1 row">
 
       </div>
       


    </form>
</div>