<div class="body">
  <div class="grid">
    <div
      echarts
      [options]="chartOptionsTemp"
      (chartInit)="onInit($event, 'temp')"
      class="chart chart1"
    ></div>

    <div
      echarts
      [options]="chartOptionsHum"
      (chartInit)="onInit($event, 'hum')"
      class="chart chart2"
    ></div>

    <div
      echarts
      [options]="chartOptionsLuz"
      (chartInit)="onInit($event, 'luz')"
      class="chart chart3"
    ></div>

    <div
      echarts
      [options]="chartOptionsSon"
      (chartInit)="onInit($event, 'sonido')"
      class="chart chart4"
    ></div>
  </div>
</div>
