<div class="header">
    <h2>Dashboard</h2>
    <button class="btn btn-custom-blue" [mat-menu-trigger-for]="widgetMenu">
        <mat-icon>add_circle</mat-icon>
        Añadir Widget
    </button>
    <mat-menu #widgetMenu="matMenu">
        @for (widget of aplicacion.widgetsAAnadir(); track widget.id) {
            <button mat-menu-item (click)="aplicacion.anadirWidget(widget)">
                {{widget.label}}
            </button>
        }@empty {
            <button mat-menu-item disabled>
                No hay widgets disponibles
            </button>
        }
    </mat-menu>
</div>

<div class="dashboard-widgets">
    @for (w of aplicacion.widgetsAnadidos(); track w.id) {
    <app-widget [data]="w"></app-widget>
    }
</div>