<div class="fondo d-flex justify-content-center p-lg-0 align-items-center">
  <form [formGroup]="usuarioForm" class="row container w-100 h-auto  p-3 form mt-5 ite" (ngSubmit)="guardarCambios()">

    <div class="col-md-6 mt-1 row">
      <label for="nombreUsuario" class="form-label">Nombre</label>
      <input type="text" formControlName="nombreUsuario" class="form-control" id="nombreUsuario" placeholder="Nombre" />
    </div>

    <div class="col-md-6 mt-1 row">
      <label for="apellidoUsuario" class="form-label">Apellido</label>
      <input type="text" formControlName="apellidoUsuario" class="form-control" id="apellidoUsuario"
        placeholder="Apellido" />
    </div>

    <div class="col-md-6 mt-1 row">
      <label for="idMatricula" class="form-label">Matrícula</label>
      <input type="text" formControlName="idMatricula" class="form-control" id="idMatricula" placeholder="Matrícula" />

    </div>

    <div class="col-md-6 mt-1 row">
      <label for="telefono" class="form-label">Teléfono</label>
      <input type="tel" formControlName="telefono" class="form-control" id="telefono" placeholder="Teléfono" />
    </div>

    <div class="col-md-6 mt-1 row">
      <label for="correoInstitucional" class="form-label">Email</label>
      <input type="email" formControlName="correoInstitucional" class="form-control" id="correoInstitucional"
        placeholder="Email" />
    </div>

    <div class="col-md-6 mt-1 row">
      <label for="direccion" class="form-label">Dirección</label>
      <input type="text" formControlName="direccion" class="form-control" id="direccion" placeholder="Dirección" />
    </div>

    <div class="col-md-6 mt-1 row">
      <label for="idRol" class="form-label">Rol</label>
      <select formControlName="idRol" class="form-select" id="idRol">
  <option value="" disabled>Seleccione un rol</option>
  <option value="4">Estudiante</option>
  <option value="2">Administrador</option>
  <option value="1">Super Usuario</option>
  <option value="3">Profesor</option>
</select>
    </div>

    <div class="col-12 mt-3 d-flex justify-content-end">
      <button type="button" class="btn btn-secondary me-2" (click)="cancelar()">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="usuarioForm.invalid">Guardar Cambios</button>
    </div>
  </form>
</div>