<div class="container mt-4">
  <h2>Reportes de Fallas</h2>
  <div class="table-scroll">
    @if (reportes.length > 0) {
    <table
      mat-table
      [dataSource]="reportes"
      class="mat-elevation-z8 full-width-table tabla-letra-grande"
    >
      <ng-container matColumnDef="nombreUsuario">
        <th mat-header-cell *matHeaderCellDef class="encabezado-azul">
          Solicitante
        </th>
        <td mat-cell *matCellDef="let reporte">{{ reporte.nombreUsuario }}</td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef class="encabezado-azul">
          Descripción
        </th>
        <td mat-cell *matCellDef="let reporte">{{ reporte.descripcion }}</td>
      </ng-container>

      <ng-container matColumnDef="lugar">
        <th mat-header-cell *matHeaderCellDef class="encabezado-azul">Lugar</th>
        <td mat-cell *matCellDef="let reporte">
          {{ reporte.lugar || "No especificado" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fechaCreacion">
        <th mat-header-cell *matHeaderCellDef class="encabezado-azul">
          Fecha de Creación
        </th>
        <td mat-cell *matCellDef="let reporte">{{ reporte.fechaCreacion }}</td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef class="encabezado-azul">
          Estado
        </th>
        <td mat-cell *matCellDef="let reporte">
          @if (reporte.estado === 1) {
          <span class="pill pill-verde">Abierto</span>
          } @else if (reporte.estado === 2) {
          <span class="pill pill-naranja">Recibido</span>
          } @else if (reporte.estado === 3) {
          <span class="pill pill-rojo">Cerrado</span>
          } @else {
          <span>Desconocido</span>
          }
        </td>
      </ng-container>

      <!-- Acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef class="encabezado-azul">
          Acciones
        </th>
        <td mat-cell *matCellDef="let reporte">
          <button
            mat-raised-button
            class="botones-green me-2"
            (click)="recepcionReporte(reporte)"
            [disabled]="loading[reporte.id]?.recibido || reporte.estado === 2"
          >
            @if (loading[reporte.id]?.recibido) {
            <mat-progress-spinner
              mode="indeterminate"
              diameter="30"
              strokeWidth="3"
              class="white-spinner"
            ></mat-progress-spinner>
            } @else {
            <span>Recibido</span>
            }
          </button>
          <button
            mat-raised-button
            class="botones-red"
            (click)="solucionReporte(reporte)"
            [disabled]="loading[reporte.id]?.solucionar"
          >
            @if (loading[reporte.id]?.solucionar) {
            <mat-progress-spinner
              mode="indeterminate"
              diameter="30"
              strokeWidth="3"
              class="white-spinner"
            ></mat-progress-spinner>
            } @else {
            <span>Solucionado</span>
            }
          </button>
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef class="encabezado-azul">Acciones</th>
        <td mat-cell *matCellDef="let reporte">
  <button mat-raised-button color="primary" (click)="recepcionReporte(reporte)" [disabled]="reporte.idEstado === 2">
    Cerrar
  </button>
  <button mat-raised-button color="accent" (click)="solucionReporte(reporte)" [disabled]="reporte.idEstado === 3">
    Reabrir
  </button>
 
</td>

      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas"></tr>
    </table>
    } @else {
    <div class="alert alert-info mt-3">No hay reportes disponibles.</div>
    }
  </div>
</div>
