<div class="fondo d-flex justify-content-center align-items-center">
  <form [formGroup]="solicitudesForm" class="row container  w-auto h-auto  p-4 mt-5">
    <h2 class="text-center mb-4">Crear Espacio</h2>
    <hr />

    <div class="col-md-6 mt-3">
      <label for="nombre" class="form-label">Nombre del Laboratorio</label>
      <input
        type="text"
        id="nombre"
        class="form-control"
        formControlName="nombre"
        placeholder="Sugerencia: Laboratorio de Redes"
      />
    </div>

    <div class="col-md-6 mt-3">
      <label for="codigoDeLab" class="form-label">Código</label>
      <input
        type="text"
        id="codigoDeLab"
        class="form-control"
        formControlName="codigoDeLab"
        placeholder="Sugerencia: 1B"
      />
    </div>

    <div class="col-md-6 mt-3">
      <label for="piso" class="form-label">Piso</label>
      <input
        type="text"
        id="piso"
        class="form-control"
        formControlName="piso"
        placeholder="Sugerencia: 2"
      />
    </div>

    <div class="col-md-6 mt-3">
      <label for="capacidad" class="form-label">Capacidad</label>
      <input
        type="number"
        id="capacidad"
        class="form-control"
        formControlName="capacidad"
        placeholder="Sugerencia: 30"
      />
    </div>

    <div class="col-12 mt-3">
      <label for="descripcion" class="form-label">Descripción</label>
      <textarea
        id="descripcion"
        class="form-control"
        formControlName="descripcion"
        rows="3"
        placeholder="Sugerencia: Laboratorio equipado con computadoras modernas"
      ></textarea>
    </div>

    <div class="col-12 mt-4 d-flex justify-content-end">
      <button type="button" class="btn btn-success" (click)="crearLaboratorio()">
        Crear Espacio
      </button>
    </div>
  </form>
</div>
